.sound-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 4%;
  z-index: 999;
}
.sound-container__indicator{
  position: absolute;
  right: 150%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-size: 18px;
  letter-spacing: .12em;
  text-transform: uppercase;
  opacity: 0;
  white-space: nowrap;
  transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sound-container__button{
  outline: none;
}
.sound-container__button:hover + .sound-container__indicator{
  opacity: 1;
}
.sound-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sound-wave {
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  .bar {
    display: block;
    width: 2px;
    margin-right: 1px;
    height: 90px;
    background: var(--brown);
    animation: sound 0ms -800ms linear infinite alternate;
    transition: height 0.8s;
  }
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 6px; 
    }
    100% {
        opacity: 1;       
        height:30px;
    }
}

.bar:nth-child(1)  { height: 2px; animation-duration: 474ms; }
.bar:nth-child(2)  { height: 10px; animation-duration: 433ms; }
.bar:nth-child(3)  { height: 18px; animation-duration: 407ms; }
.bar:nth-child(4)  { height: 26px; animation-duration: 458ms; }
.bar:nth-child(5)  { height: 30px; animation-duration: 400ms; }