.contact{
.background_marquee{
  position: absolute;
  left: 15vw;
  top: 50vh;
  width: 80vw;
  font-size: 8.8vw;
  line-height: 1.35em;
  letter-spacing: .03em;
  white-space: nowrap;
  z-index: 1;
  height:10%;
  span{
    width: 100%;
    white-space: nowrap;
  position: absolute;
  text-transform: uppercase;
  -moz-transform:translateX(50%);
-webkit-transform:translateX(50%); 
transform:translateX(50%);
  -webkit-animation: mymove 20s linear infinite; 
  animation: mymove 20s linear infinite ;
  }
  &:hover{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f2f2f2;
    z-index: 3;
  }
}
.contact_image{
  position:absolute;
  width:60vw;
  height:50vh;
  left:50vw;
  top:calc(50vh - 15vw);
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  overflow:hidden;
  white-space:nowrap;
  z-index:2;
img{
  width: inherit;
}

 
}
.contact_social{
  
  position:absolute;
  width:60vw;
  top:calc(50vh - 16vw);
  left:50vw;
  transform:translate(-50%,-150%);
  -webkit-transform:translate(-50%,-150%);
  font-size:20px;
  text-transform:uppercase;
  letter-spacing:.05em;
  justify-content: space-between;
  display: none;
  a{
    position: relative;
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      display: block;
      right: 0;
      background: var(--brown);
      transition: width 0.2s ease;
    }
    &:hover{
      &:after{
        width: 100%;
        left: 0;
        background:var(--brown);
      }
    }
  }
 }
 
 .contact_email{
  position:absolute;
  display:block;
  top:calc(77vh);
  left:50vw;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  font-size:3.6vw;
  letter-spacing:.03em;
  overflow:hidden;
  will-change:transform;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  z-index:3;
  a{
    transform:translateY(100%);
    -webkit-transform:translateY(100%);
    &:hover{
      opacity: 0.7;
    }
  }
  span{
    position: relative;
    top:.1em
  }
 }
}

@include up(992) {
  .contact_social{ 
    display: flex !important;
  }
}