.project__title {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    display: flex;
    align-items: center;

    h1 {
        overflow: hidden;

        span {
            display: inline-block;
        }
    }
}

.project__link {
    a {
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 0.875rem;
    }
}

.project__infos {
    margin: 40px auto;

    div {
        margin-bottom: 40px;
        padding-right: 50px;

        span {
            text-transform: uppercase;
            font-size: 0.875rem;
            font-weight: bold;
            opacity: 0.75;
        }

        p {
            font-size: 1.125rem;
        }
    }
}

@include up(768) {
    .project__infos {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .project__year {
        width: 25%;
    }
    .project__role {
        width: 50%;
    }

    .project__description {
        width: 75%;
    }
}

@include up(1200) {
    .project__year {
        width: 12.5%;
    }
    .project__role {
        width: 25%;
    }

    .project__description {
        width: 50%;
    }
}

.project__images {
    img, video {
        display: block;
        margin-top: 25px;
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out, 
        opacity 0.3s ease-in-out;
        max-width: 100%;
    }

    img.img-big {
        transform: scale(0.96);
    }

    img.active,
    video.active {
        transform: translateY(0) scale(1);
    }
}

@include up(768) {
    .project__images {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;

        img, video{
            margin-top: 50px;
        }
    }
}

@include up(992) {
    .project__text {
        position: fixed;
        top: 0;
        height: 95vh;
        height: calc(var(--vh, 1vh) * 95);

        .project__title.asleep,
        .project__link.asleep,
        .project__infos.asleep {
            opacity: 0;
        }
    }

    .project__images {
        margin-top: 95vh;
        padding-left: 162px;
        padding-right: 162px;
        position: relative;
        z-index: 2;
        padding-bottom: 162px;

        img:first-child {
            transform: translateY(0);
        }

        img , video {
            margin-top: 100px;
        }
    }
}

.project__footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--brown);
    color: var(--blue);
    height: 190px;
    padding-top: 30px;

    a:last-child {
        text-align: right;
        max-width: 40%;
    }

    span {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.625rem;
        position: relative;
        transition: transform 0.2s ease-in-out;
    }

    p {
        font-size: 1.5rem;
        font-family: $font-alt;
        line-height: 1;
    }
}

@include up(768) {
    .project__footer {
        span {
            font-size: 0.825rem;
        }

        p {
            font-size: 2rem;
        }
    }
}

@include up(992) {
    .project__footer {
        align-items: center;
        height: 230px;
        padding-top: 0;
        position: relative;
        z-index: 2;

        .footer__prev,
        .footer__next {
            span {
                transition: transform 0.2s ease-in-out;
            }

            span::after {
                font-size: 1.125rem;
                position: absolute;
                bottom: -3px;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }

            &:hover {
                span::after {
                    opacity: 1;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }

        .footer__prev {
            span::after {
                content: "<";
                left: -20px;
            }

            &:hover {
                span {
                    transform: translateX(20px);
                }
            }
        }

        .footer__next {
            span::after {
                content: ">";
                right: -20px;
            }

            &:hover {
                span {
                    transform: translateX(-20px);
                }
            }
        }

        p {
            font-size: 2.5rem;
            line-height: 150%;
        }
    }
}
