// Variables
// ==================
$font: "Lato", sans-serif;
$font-alt: "Amiri", serif;

// Font face
// ==================

@import url("https://fonts.googleapis.com/css?family=Amiri|Lato:300,900&display=swap");

// Texts styles
// ==================
.text-sm {
    font-size: 0.875rem;
}

.text-big {
    font-size: 2.25rem;
    font-family: $font-alt;
}

@include up(768) {
    .text-sm {
        font-size: 1rem;
    }
}

@include up(992) {
    .text-big {
        font-size: 3.5rem;
    }
}
